<!DOCTYPE HTML>
<!--
	Linear by TEMPLATED
    templated.co @templatedco
    Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
				{% load staticfiles %}
		<title>Creativity</title>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<!--<link href='http://fonts.googleapis.com/css?family=Roboto:400,100,300,700,500,900' rel='stylesheet' type='text/css'>-->
		<!--<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>-->
		<script src="{% static "js/jquery.min.js" %}"></script>
        <script src="{% static "js/skel.min.js"%}"></script>
		<script src="{% static "js/skel-panels.min.js" %}"></script>
		<script src="{% static "js/init.js" %}"></script>
		<noscript>
			<link rel="stylesheet" href="{% static "css/skel-noscript.css" %}" />
			<link rel="stylesheet" href="{% static "css/style.css"%} " />
			<link rel="stylesheet" href="{% static "css/style-desktop.css" %}" />
		</noscript>

		<link href="{% static "css/Creativity.css" %}" rel="stylesheet" type="text/css">
		<style>
			@media (min-width: 500px) {
				.nav500px{
					display: none;
				}
			}
			.nav500px{
				position: absolute;
				z-index: 500;
				background-color: rgba(0,0,0,.1);
				width: 100%;
			}
			.nav500px a{
				text-decoration: none;
				color: white;
				font-size: 12px;
			}
			.nav500px li{
				float: left;
				width: 25%;
				text-align: center;
				border: rgba(255,255,255,.1) solid 1px;
				line-height: 30px;
			}
			.nav500px ul{
			}
		</style>
	</head>
	<body>
	<!-- Header -->
	<div class="nav500px">
		<!-- Nav -->
		<ul>
			<li class="active"><a href="{% url 'index' %}">Homepage</a></li>
			<li><a href="{% url 'intro_creativity' %}">Creativity</a></li>
			<li><a href="{% url 'intro_mobile' %}">Mobile-coding</a></li>
			<li><a href="{% url 'intro_hack' %}">Hackathon</a></li>
		</ul>
	</div>
	</div>
	<!-- Header -->
	<!-- Header -->
		<div id="header">
			<!--<div class="img500px"><img src="images/logo.png"></div>-->
			<div class="title500px_container">
				<p class="title500px">Creativity</p>
				<p class="title500px" id="title500pxiss">WHUISS</p>
			</div>
			<div id="nav-wrapper">

				<!-- Nav -->
				<nav id="nav">
					<ul>
						<li class="active"><a href="{% url 'index' %}">Homepage</a></li>
			<li><a href="{% url 'intro_creativity' %}">Creativity</a></li>
			<li><a href="{% url 'intro_mobile' %}">Mobile-coding</a></li>
			<li><a href="{% url 'intro_hack' %}">Hackathon</a></li>
					</ul>
				</nav>
			</div>
			<div class="container"> 
				
				<!-- Logo -->
				<div id="logo">
					<h1><a href="#">Creativity</a></h1>
					<span class="tag">WHUISS</span>
				</div>
			</div>
		</div>
	<!-- Header --> 

	<!-- Main -->
		<div id="main">
			<div id="content" class="container">
				<section>
					<hr class="hr500px"/>
					<header>
						<h2 class="text">活动简介</h2>
						<hr  class="hr"/>
						<!--<span class="byline">Integer sit amet pede vel arcu aliquet pretium</span>-->
					</header>
						<p class="text" style="text-indent: 2em">当今社会，人们的许多日常生活活动都有软件来帮助完成，
							市场上各类软件也是层出不穷。然而随着人们需求的进一步丰富化，还有许多方面具有很强的软件的开发价值。
							基于这种情况，相信学习软件专业的各位同学都产生过想要自己做一个软件来方便自己或者家人的想法。针对这些想法，
							我们特举办本次软件创意大赛，为全校同学提供一个大胆创新、展示自我的机会，
							将自己的创意具体化，实践化，通过与其他同学合作，做出一款属于自己的创意软件。</p>
						<br/>
					<header>
					<h2 class="text">活动流程</h2>
						<hr  class="hr"/>
					<!--<span class="byline">Integer sit amet pede vel arcu aliquet pretium</span>-->
					</header>
					<p class="text">1、3月12日开启报名通道，参赛的同学在软件文化节官网进行报名。<br/>
						2、3月20日至3月31日，参赛队伍根据模板写一份文档，以“创意大赛-队伍名-队长姓名-发送时间”的命名格式发送到指定邮箱中。<a href="http://pan.baidu.com/s/1kVukkhp">点击下载模板</a><br/>
						3、3月31日晚23：59报名通道关闭，截止提交作品。<br/>
						4、4月1日至4月3日，组委会审核初赛作品决定复赛名单。<br/>
						5、4月3日公布复审名单。<br/>
						6、4月15日进行复赛答辩。
					</p>
					<br/>
					</header>

					<header>
						<h2>作品要求</h2>
						<hr  class="hr"/>
						<!--<span class="byline">Integer sit amet pede vel arcu aliquet pretium</span>-->
					</header>
					<p>1、作品内容健康，丰富科学，结构清晰、新颖，想法贴近实际。不得违反国家的有关法律、法规和规定。<br/>
						2、作品为软件创意，包含详细的用户需求介绍、功能和使用方法介绍、设计思路、完整的用户界面设计，若是市场上已经具备相似的同类软件则需具备优于市场上已有同类软件之处。<br/>
						3、提交内容为相关文档，作者应自行保留备份，提交的作品组委会不予退回。<br/>
						4、作品须为原创作品。如发现作品中有抄袭的部分，一经发现，组委会将取消参赛者的评奖资格。
					</p>
					<br/>
					</header>

					<header>
						<h2>评分细则</h2>
						<hr  class="hr"/>
						<!--<span class="byline">Integer sit amet pede vel arcu aliquet pretium</span>-->
					</header>
					<p>分数采用百分制。<br/>
						根据作品的创新性、实用性、操作便捷性、界面美观与否进行评定：<br/>
						1、创新性：在允许范围内，创意独特，具有商业潜力者酌情加分，占30分。<br/>
						2、实用性：有较高实用价值，能解决一些实际问题，占15分。<br/>
						3、可行性：使用简单，较容易实现，占15分。<br/>
						4、完善度：创意构想完善，思虑周全，对软件的实现流程亦有一定规划，占15分。<br/>
						5、答辩表现：展示方式的设计，介绍创意和回答提问的表现，占25分。超时一分钟扣一分，不足一分按超时一分钟算。<br/>
						注：成型软件根据完成程度给予0—5分额外加分
					</p>
					<br/>
					</header>

					<header>
						<h2>注意事项（报名须知）</h2>
						<hr  class="hr"/>
						<!--<span class="byline">Integer sit amet pede vel arcu aliquet pretium</span>-->
					</header>
					<p>1、每个参赛队人数为1—5人，参赛队员确定后不可随意改动。报名时信息须完善，信息不完善组视为未报名。<br/>
						2、参赛作品可重复提交，以最后一次提交的作品为准。<br/>
						3、参加复赛的队员必须在开赛前10分钟到场签到，凡在规定比赛时间未到场者按弃权处理。
					</p>
					</header>

					<div class="signup">
						<a href="{% url 'signup' %}">Sign up</a>
					</div>
					<div class="signup" >
						<a href="{% url 'notice_crea' %}" id="signup">Notice</a>
					</div>
				</section>
			</div>
		</div>
	<!-- /Main -->


	<!-- Copyright -->
		<div id="copyright">
			<div class="container">
				主办方：武汉大学国际软件学院学生会网络部
			</div>
		</div>


	</body>
</html>