<!DOCTYPE HTML>
<!--
	Linear by TEMPLATED
    templated.co @templatedco
    Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		{% load staticfiles %}
        <title>Hackthon</title>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<link href='http://fonts.googleapis.com/css?family=Roboto:400,100,300,700,500,900' rel='stylesheet' type='text/css'>
		<!--<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>-->
		<script src="{% static "js/jquery.min.js" %}"></script>
        <script src="{% static "js/skel.min.js"%}"></script>
		<script src="{% static "js/skel-panels.min.js" %}"></script>
		<script src="{% static "js/init.js" %}"></script>
		<noscript>
			<link rel="stylesheet" href="{% static "css/skel-noscript.css" %}" />
			<link rel="stylesheet" href="{% static "css/style.css"%} " />
			<link rel="stylesheet" href="{% static "css/style-desktop.css" %}" />
		</noscript>

		<link href="{% static "css/Hackathon.css" %}" rel="stylesheet" type="text/css">
		<style>
			@media (min-width: 500px) {
				.nav500px{
					display: none;
				}
			}
			.nav500px{
				position: absolute;
				z-index: 500;
				background-color: rgba(0,0,0,.1);
				width: 100%;
			}
			.nav500px a{
				text-decoration: none;
				color: white;
				font-size: 12px;
			}
			.nav500px li{
				float: left;
				width: 25%;
				text-align: center;
				border: rgba(255,255,255,.1) solid 1px;
				line-height: 30px;
			}
			.nav500px ul{
			}
		</style>
	</head>
	<body>
	<!-- Header -->
	<div class="nav500px">
		<!-- Nav -->
		<ul>
			<li class="active"><a href="index.html">Homepage</a></li>
			<li><a href="Creativity.html">Creativity</a></li>
			<li><a href="Mobile-coding.html">Mobile-coding</a></li>
			<li><a href="Hackathon.html">Hackathon</a></li>
		</ul>
	</div>
	</div>
	<!-- Header -->
	<!-- Header -->
		<div id="header">
			<!--<div class="img500px"><img src="images/logo.png"></div>-->
			<div class="title500px_container">
				<p class="title500px">Hackathon</p>
				<p class="title500px" id="title500pxiss">WHUISS</p>
			</div>
			<div id="nav-wrapper">

				<!-- Nav -->
				<nav id="nav">
					<ul>
						<li class="active"><a href="index.html">Homepage</a></li>
						<li><a href="Creativity.html">Creativity</a></li>
						<li><a href="Mobile-coding.html">Mobile-coding</a></li>
						<li><a href="Hackathon.html">Hackathon</a></li>
					</ul>
				</nav>
			</div>
			<div class="container"> 
				
				<!-- Logo -->
				<div id="logo">
					<h1><a href="#">Hackathon</a></h1>
					<span class="tag">WHUISS</span>
				</div>
			</div>
		</div>
	<!-- Header --> 

	<!-- Main -->
		<div id="main">
			<div id="content" class="container">
				<section>
					<hr class="hr500px"/>
					<header>
						<h2 class="text">活动简介</h2>
						<hr  class="hr"/>
						<!--<span class="byline">Integer sit amet pede vel arcu aliquet pretium</span>-->
					</header>
						<p class="text" style="text-indent: 2em">随着计算机、手机对于人们生活的重要性的日益增加，
							深入了解和学习软件相关的知识显得愈加重要。软件文化节作为武汉大学历年来的传统活动
							，致力于帮助在校学生更加全面的体会软件领域的方方面面，向全校师生展现软件文化的魅力。
							第十届软件文化节，总结以往的举办经验，特增设了极限编程大赛活动。
							给你一个特定的时间，来实现你在日常生活中想过的牛逼的技术和想法。这些技术和想法可能由于平时时间太紧、没有搭档而无法得以实现。
							但在 Hackathon 期间，
							大胆的去尝试任何疯狂，酷炫，或者看起来可笑的想法吧！编程的动机，来自兴趣和乐趣，
							没有费力的设计评审，没有枯燥的会议，没有无聊的编码审查，不需要担心排名和得分，这里只有我们最喜欢做的事儿---造出酷炫的、有趣的东西！</p>
						<br/>
					<header>
					<h2 class="text">活动流程</h2>
						<hr  class="hr"/>
					<!--<span class="byline">Integer sit amet pede vel arcu aliquet pretium</span>-->
					</header>
					<p class="text">1、 4月17日，报名通道开启。<br/>
						2、4月22日23：59（活动开始后第一天晚上），报名截止<br/>
						3、4月22号上午9点，活动正式开始，公布活动主题及活动注意事项。<br/>
						4、4月23日下午3：10，作品提交截止，提交作品的小组进行作品展示,现场嘉宾老师会给出指导性建议和见解。

					</p>
					<br/>
					</header>

					<header>
						<h2>活动说明</h2>
						<hr  class="hr"/>
						<!--<span class="byline">Integer sit amet pede vel arcu aliquet pretium</span>-->
					</header>
					<p>1、组委会将为参赛选手准备小零食与饮料，早午晚餐请选手自行解决。<br/>
						2、在截止时间之前可多次提交作品，以最后一次提交作品为准。<br/>
						3、所有完成（或基本完成）并进行了展示的小组均可在展示环节结束后领取精美活动奖品。
					</p>
					<br/>
					</header>

					<header>
						<h2>注意事项（报名须知）</h2>
						<hr  class="hr"/>
						<!--<span class="byline">Integer sit amet pede vel arcu aliquet pretium</span>-->
					</header>
					<p>1、本次大赛以个人或小组形式参赛，小组成员最多不超过5人（注：小组成员一经确认，活动期间不能随意更改。）<br/>
						2、报名时请填好小组成员的详细信息资料（姓名，院系以及联系方式）。<br/>
						3、报名的小组在活动当天参加活动，活动结束时将作品提交至相关工作人员。
						（注意：未提交作品的小组视为弃权）
					</p>
					</header>

					<div class="signup">
						<a href="javascript:;" onclick="change()">Sign up</a>
					</div>
					<div class="signup">
						<a href="{% url 'notice_hack' %}" id="signup">Notice</a>
					</div>
				</section>
			</div>
		</div>
	<!-- /Main -->


	<!-- Copyright -->
		<div id="copyright">
			<div class="container">
				主办方：武汉大学国际软件学院学生会
			</div>
		</div>


	</body>
</html>
<script>
    function change() {
        window.location.href='{% url 'signup' %}?flag2=true'


    }
</script>
