<!DOCTYPE HTML>
<!--
	Linear by TEMPLATED
    templated.co @templatedco
    Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		{% load staticfiles %}
        <title>软件文化节</title>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<link href='http://fonts.googleapis.com/css?family=Roboto:400,100,300,700,500,900' rel='stylesheet' type='text/css'>
		<script src="{% static "js/jquery.min.js" %}"></script>
		<script src="{% static "js/skel.min.js" %}"></script>
		<script src="{% static "js/skel-panels.min.js" %}"></script>
		<script src="{% static "js/init.js" %}"></script>
		<!--<noscript>-->
			<!--<link rel="stylesheet" href="{% static "css/skel-noscript.css" %}" />-->
			<!--<link rel="stylesheet" href="{% static "css/style.css" %}" />-->
			<!--<link rel="stylesheet" href="{% static "css/style-desktop.css" %}" />-->
		<!--</noscript>-->


		<link href="{% static "css/index.css" %}" rel="stylesheet" type="text/css">

		<style>
			@media (min-width: 500px) {
				.nav500px{
					display: none;
				}
			}
			.nav500px{
				position: absolute;
				z-index: 500;
				background-color: rgba(0,0,0,.1);
				width: 100%;
			}
			.nav500px a{
				text-decoration: none;
				color: white;
				font-size: 12px;
			}
			.nav500px li{
				float: left;
				width: 25%;
				text-align: center;
				border: rgba(255,255,255,.1) solid 1px;
				line-height: 30px;
			}
			.nav500px ul{
			}
		</style>
	</head>
	<body class="homepage">


	<!-- Header -->
		<div class="nav500px">
			<!-- Nav -->
				<ul>
					<li class="active"><a href="{% url 'index' %}">Homepage</a></li>
					<li><a href="{% url 'intro_creativity' %}">Creativity</a></li>
					<li><a href="{% url 'intro_mobile' %}">Mobile-coding</a></li>
					<li><a href="{% url 'intro_hack' %}">Hackathon</a></li>
				</ul>
		</div>

	<!-- Header -->
	<!-- Header -->
		<div id="header">

			<div id="nav-wrapper">
				<!-- Nav -->
				<nav id="nav">
					<ul>
						<li class="active"><a href="{% url 'index' %}">Homepage</a></li>
						<li><a href="{% url 'intro_creativity' %}">Creativity</a></li>
						<li><a href="{% url 'intro_mobile' %}">Mobile-coding</a></li>
						<li><a href="{% url 'intro_hack' %}">Hackathon</a></li>
					</ul>
				</nav>
			</div>
			<div class="container"> 
				
				<!-- Logo -->
				<div id="logo">
					<h1 id="title1"><a href="#">软件文化节</a></h1>
					<span class="tag">WHUISS</span>
				</div>
			</div>
		</div>

	<!-- Featured -->
		<div id="featured">
			<!--<div class="img500px"><img src="images/logo.png"></div>-->
			<div class="title500px_container">
				<p class="title500px">软件文化节</p>
				<p class="title500px" id="title500pxiss">WHUISS</p>
			</div>
			<!--<hr class="hr500px"/>-->
			<div class="container">
				<header>
					<h2 id="title2">我们等你，用代码开启世界</h2>
				</header>
				<div class="signup">
					<a href="{% url 'signup_crea' %}">我要报名</a>
				</div>
				<!--<p>This is <strong>Linear</strong>, a responsive HTML5 site template freebie by <a href="http://templated.co">TEMPLATED</a>. Released for free under the <a href="http://templated.co/license">Creative Commons Attribution</a> license, so use it for whatever (personal or commercial) &ndash; just give us credit! Check out more of our stuff at <a href="http://templated.co">our site</a> or follow us on <a href="http://twitter.com/templatedco">Twitter</a>.</p>-->
				<hr id="hr"/>
				<div class="row">
					<section class="4u">
						<!--<span class="pennant"><span class="fa fa-briefcase"></span></span>-->
						<img src="{% static "image/logo1.png" %}" id="logo1">
						<h3>Creativity</h3>
						<p class="info">
							释放你的想法<br/>
							用灵感冲刷<br/>
							让创意崩腾<br/>
							在这里<br/>
							开启你想象中的软件世界</p>
						<a href="Creativity.html" class="button button-style1">Read More</a>
						<br class="br"/>
						<a href="Notice1.html" class="button button-style1" style="padding: 0.8em 3em">Notice</a>
					</section>
					<section class="4u">
						<!--<span class="pennant"><span class="fa fa-lock"></span></span>-->
						<img src="{% static "image/logo2.png" %}" id="logo2">
						<h3>Mobile-coding</h3>
						<p class="info">释放你的想法<br/>
							用灵感冲刷<br/>
							让创意崩腾<br/>
							在这里<br/>
							开启你想象中的软件世界</p>
						<a href="Mobile-coding.html" class="button button-style1">Read More</a>
						<br class="br"/>
						<a href="Notice2.html" class="button button-style1" style="padding: 0.8em 3em">Notice</a>
					</section>
					<section class="4u">
						<!--<span class="pennant"><span class="fa fa-globe"></span></span>-->
						<img src="{% static "image/logo3.png" %}" id="logo3">
						<h3>Hackathon</h3>
						<p class="info">释放你的想法<br/>
							用灵感冲刷<br/>
							让创意崩腾<br/>
							在这里<br/>
							开启你想象中的软件世界</p>
						<a href="Hackathon.html" class="button button-style1">Read More</a>
						<br class="br"/>
						<a href="Notice3.html" class="button button-style1" style="padding: 0.8em 3em">Notice</a>
					</section>

				</div>
			</div>
		</div>








	<!-- Copyright -->
		<div id="copyright">
			<div class="container">
				主办方：武汉大学国际软件学院学生会网络部
			</div>
		</div>

	</body>
</html>