<!DOCTYPE HTML>
<!--
	Linear by TEMPLATED
    templated.co @templatedco
    Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		{% load staticfiles %}
		<title>Mobile-coding</title>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<link href='http://fonts.googleapis.com/css?family=Roboto:400,100,300,700,500,900' rel='stylesheet' type='text/css'>
		<!--<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>-->
		<script src="{% static "js/jquery.min.js" %}"></script>
        <script src="{% static "js/skel.min.js"%}"></script>
		<script src="{% static "js/skel-panels.min.js" %}"></script>
		<script src="{% static "js/init.js" %}"></script>
		<noscript>
			<link rel="stylesheet" href="{% static "css/skel-noscript.css" %}" />
			<link rel="stylesheet" href="{% static "css/style.css"%} " />
			<link rel="stylesheet" href="{% static "css/style-desktop.css" %}" />
		</noscript>

		<link href="{% static "css/Mobile-coding.css" %}" rel="stylesheet" type="text/css">
		<style>
			@media (min-width: 500px) {
				.nav500px{
					display: none;
				}
			}
			.nav500px{
				position: absolute;
				z-index: 500;
				background-color: rgba(0,0,0,.1);
				width: 100%;
			}
			.nav500px a{
				text-decoration: none;
				color: white;
				font-size: 12px;
			}
			.nav500px li{
				float: left;
				width: 25%;
				text-align: center;
				border: rgba(255,255,255,.1) solid 1px;
				line-height: 30px;
			}
			.nav500px ul{
			}
		</style>
	</head>
	<body>
	<!-- Header -->
	<div class="nav500px">
		<!-- Nav -->
		<ul>
			<li class="active"><a href="index.html">Homepage</a></li>
			<li><a href="Creativity.html">Creativity</a></li>
			<li><a href="Mobile-coding.html">Mobile-coding</a></li>
			<li><a href="Hackathon.html">Hackathon</a></li>
		</ul>
	</div>
	</div>
	<!-- Header -->
	<!-- Header -->
		<div id="header">
			<!--<div class="img500px"><img src="images/logo.png"></div>-->
			<div class="title500px_container">
				<p class="title500px">Mobile-coding</p>
				<p class="title500px" id="title500pxiss">WHUISS</p>
			</div>
			<div id="nav-wrapper">

				<!-- Nav -->
				<nav id="nav">
					<ul>
						<li class="active"><a href="index.html">Homepage</a></li>
						<li><a href="Creativity.html">Creativity</a></li>
						<li><a href="Mobile-coding.html">Mobile-coding</a></li>
						<li><a href="Hackathon.html">Hackathon</a></li>
					</ul>
				</nav>
			</div>
			<div class="container"> 
				
				<!-- Logo -->
				<div id="logo">
					<h1><a href="#">Mobile-coding</a></h1>
					<span class="tag">WHUISS</span>
				</div>
			</div>
		</div>
	<!-- Header --> 

	<!-- Main -->
		<div id="main">
			<div id="content" class="container">
				<section>
					<hr class="hr500px"/>
					<header>
						<h2 class="text">活动简介</h2>
						<hr  class="hr"/>
						<!--<span class="byline">Integer sit amet pede vel arcu aliquet pretium</span>-->
					</header>
						<p class="text" style="text-indent: 2em">当今，手机在人们日常生活中所起到的作用日益增加，
							相信很多同学都涌现过自己制作一款手机软件来方便人们的日常需求的想法，
							本次手机编程大赛旨在通过竞赛，增加同学们对手机编程的了解，
							并学习Android，iOS两大平台的编程技术。通过组队竞赛的方式增强同学们对编程过程的了解，
							同时增强团队合作能力。比赛也为不会编程但希望参与其中的同学提供平台，
							让他们能参与到软件开发、模式运行、界面设计当中，从而让所有院系的同学都能各展所长，
							互相协作，共同创作出一款完美的手机软件。</p>
					<br/>
					<header>
					<h2 class="text">活动流程</h2>
						<hr  class="hr"/>
					<!--<span class="byline">Integer sit amet pede vel arcu aliquet pretium</span>-->
					</header>
					<p class="text">1、3月17日开启报名通道。<br/>
						2、3月25日下午两点开展Android专题讲座，26日下午开展iOS专题讲座。<br/>
						3、赛前讲座同时作为大赛开幕式，之后3月27日—4月22日为开发时间。<br/>
						4、4月23日开展导师见面会，导师为选手提供相关意见并解答选手疑问。<br/>
						5、4月23日23:59初赛作品提交，同时报名截止。<br/>
						6、4月27日公布决赛晋级名单。<br/>
						7、4月27日—5月6日选手完善作品并准备答辩。<br/>
						8、5月7日进行现场答辩并由评委评选最终结果。<br/>
					</p>
					<br/>
					</header>

					<header>
						<h2>作品要求</h2>
						<hr  class="hr"/>
						<!--<span class="byline">Integer sit amet pede vel arcu aliquet pretium</span>-->
					</header>
					<p>1、参赛作品必须为原创作品，且需为未用于商业行为的产品。<br/>
						2、参赛作品不得违反相关法律法规，不损害任何第三方的任何法律权益。（如有违反，参赛者承担所有法律责任。）<br/>
						3、参赛作品不包含任何形式的广告和商业内容，
						不得带任何流氓插件、恶意病毒、间谍程序，如有发现，直接取消参赛资格。产生的严重后果以及法律责任完全由参赛者承担。
					</p>
					<br/>
					</header>


					<header>
						<h2>评分细则</h2>
						<hr  class="hr"/>
						<!--<span class="byline">Integer sit amet pede vel arcu aliquet pretium</span>-->
					</header>
					<p>1.主题契合度 仅作为评选大会的额外加分<br/>
						2.完善度 20%<br/>
						3.创新度 25%<br/>
						4.实用度 25%<br/>
						5.产品化程度 10%<br/>
						6.技术难度 10%<br/>
						7.设计水平 10%
					</p>
					<br/>
					</header>

					<header>
						<h2>注意事项（报名须知）</h2>
						<hr  class="hr"/>
						<!--<span class="byline">Integer sit amet pede vel arcu aliquet pretium</span>-->
					</header>
					<p>1、手机编程大赛为团体赛，每支队伍由1-4人组成（需有队长一名），华中地区高校学生皆可报名参加，可跨年级跨专业组队。<br/>
						2、竞赛采用专家评审方式，综合评定后在初审队伍中选出十个队伍，入围队伍参加决赛答辩。

					</p>
					</header>

					<div class="signup">
						<a href="javascript:;" onclick="change()">Sign up</a>
					</div>
					<div class="signup">
						<a href="{% url 'notice_mobile' %}"id="signup">Notice</a>
					</div>
				</section>
			</div>
		</div>
	<!-- /Main -->


	<!-- Copyright -->
		<div id="copyright">
			<div class="container">
				主办方：武汉大学国际软件学院学生会
			</div>
		</div>


	</body>
</html>
<script>
    function change() {
        window.location.href='{% url 'signup' %}?flag1=true'


    }
</script>